---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("projects");
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold">Hi there, I'm Robert.</div>
    <!-- <div class="text-2xl py-3">sub heading</div> -->
    <div class="py-2">
      <text class="text-lg">
        First and foremost, thanks for visiting! A bit about me: I have been
        extremely fortunate to have gained a wealth of experience in UX over the
        last 12+ years. From Adaptive Path's UX Intensive to Jared Spool's UIE
        conferences to gaining my UX Master certification from NN/g, I've become
        a UX sponge soaking up as much knowledge to achieve my goal of
        delivering exceptional experiences to our users.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/robert-dudley-ba78441a/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Projects {"</>"}</div>
  </div>
  {
    posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          area={post.data.area}
          badge={post.data.area}
          url={"/projects/" + post.slug}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
