---
import { BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const { title, description, pubDate, updatedDate, heroImage, badge } =
  Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).add(1, "y").format("YYYY");
import { Image } from "@astrojs/image/components";
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[1000px] prose-img:mx-auto">
      {
        heroImage && (
          <Image
            width={1000}
            height={600}
            format="webp"
            src={heroImage}
            alt={title}
            quality={100}
            class="w-full mb-6"
          />
        )
      }
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {pubDate && <time>{displayDate}</time>}

      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
